
__pycache__/
*.py[cod]
*$py.class


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover


*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


staticfiles/


.env
.env.*


venv/
ENV/
env/
.venv/


.idea/
.vscode/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db


.mypy_cache/
.dmypy.json
dmypy.json


.ipynb_checkpoints/


docker-compose*.yml
Dockerfile*


*.swp
*.swo
